<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- "Proxima-Nova" font stolen from GoHomeside website -->
    <script src="https://use.typekit.net/oly6zag.js"></script>
    <style type="text/css">
        .sans-serif, .tk-proxima-nova {
            font-family: "proxima-nova",sans-serif;
        }
    </style>
    <link rel="stylesheet" href="https://use.typekit.net/c/e51408/1w;proxima-nova,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,2clzCG:W:i4,2clzC9:W:n3,2clzCF:W:n4,2clzCH:W:n6,2clzC5:W:n7/l" media="all">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("_Header")

    <main class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </main>

    <div class="modal from-right">
        <header class="modal-header">
            <h3>Title Goes Here</h3>
            <a href="#" class="modal-close">Close</a>
        </header>

        <div class="modal-container">
            <div class="modal-content">
                <!-- your side content here -->
                @Html.Partial("_SubmitTaskForm")
            </div> <!-- modal-content -->
        </div> <!-- modal-container -->
    </div> <!-- modal -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/application")
    @RenderSection("scripts", required: false)
</body>
</html>
